{% extends 'base.html' %}{% load static %} {% block title %}Home | TSF World Bank{% endblock %} {% block content %}

<!-- main-slider -->
<section class="w3l-main-slider" id="home">
  <div class="companies20-content">
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 banner-info-bg">
                    <h5>The Britest bank card in your wallet</h5>
                    <p class="mt-md-4 mt-3">
                      Our Card is the best option if you are looking for
                      high-quality and reliable banking services. We provide
                      reliable services for you
                    </p>
                    <a
                      class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2"
                      href="#book"
                    >
                      Book a card</a
                    >
                    <a
                      class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2"
                      href="{% url 'about' %}"
                    >
                      Read More</a
                    >
                  </div>
                  <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                    <img
                      src="{% static 'assets/images/card1.png' %}"
                      alt="img"
                      class="img-fluid radius-image-curve"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top1 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 banner-info-bg">
                    <h5>#1 Choice for your banking needs</h5>
                    <p class="mt-md-4 mt-3">
                      Our Card is the best option if you are looking for
                      high-quality and reliable banking services. We provide
                      reliable services for you
                    </p>
                    <a
                      class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2"
                      href="#book"
                    >
                      Book a card</a
                    >
                    <a
                      class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2"
                      href="{% url 'about' %}"
                    >
                      Read More</a
                    >
                  </div>
                  <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                    <img
                      src="{% static 'assets/images/card2.png' %}"
                      alt="img"
                      class="img-fluid radius-image-curve"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top2 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 banner-info-bg">
                    <h5>The Britest bank card in your wallet</h5>
                    <p class="mt-md-4 mt-3">
                      Our Card is the best option if you are looking for
                      high-quality and reliable banking services. We provide
                      reliable services for you
                    </p>
                    <a
                      class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2"
                      href="#book"
                    >
                      Book a card</a
                    >
                    <a
                      class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2"
                      href="{% url 'about' %}"
                    >
                      Read More</a
                    >
                  </div>
                  <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                    <img
                      src="{% static 'assets/images/card3.png' %}"
                      alt="img"
                      class="img-fluid radius-image-curve"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top3 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 banner-info-bg">
                    <h5>#1 Choice for your banking needs</h5>
                    <p class="mt-md-4 mt-3">
                      Our Card is the best option if you are looking for
                      high-quality and reliable banking services. We provide
                      reliable services for you
                    </p>
                    <a
                      class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2"
                      href="#book"
                    >
                      Book a card</a
                    >
                    <a
                      class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2"
                      href="{% url 'about' %}"
                    >
                      Read More</a
                    >
                  </div>
                  <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                    <img
                      src="{% static 'assets/images/card4.png' %}"
                      alt="img"
                      class="img-fluid radius-image-curve"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</section>
<!-- /main-slider -->
<!-- home page block1 -->
<section id="about" class="home-services pt-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="box-wrap-grid">
            <div class="icon">
              <span class="fa fa-cc-visa"></span>
            </div>
            <div class="info">
              <p>More than</p>
              <h4><a href="#url">32167</a></h4>
              <h5>Issued cards</h5>
            </div>
          </div>
          <p class="mt-4">
            If you are looking for high-quality and reliable banking services.
            Our Bank card is the best option.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
        <div class="box-wrap">
          <div class="box-wrap-grid">
            <div class="icon">
              <span class="fa fa-money"></span>
            </div>
            <div class="info">
              <p>Upto</p>
              <h4><a href="#url">25%</a></h4>
              <h5>Cashback</h5>
            </div>
          </div>
          <p class="mt-4">
            If you are looking for high-quality and reliable banking services.
            Our Bank card is the best option.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
        <div class="box-wrap">
          <div class="box-wrap-grid">
            <div class="icon">
              <span class="fa fa-line-chart"></span>
            </div>
            <div class="info">
              <p>Upto</p>
              <h4><a href="#url">40%</a></h4>
              <h5>Fixed Deposit</h5>
            </div>
          </div>
          <p class="mt-4">
            If you are looking for high-quality and reliable banking services.
            Our Bank card is the best option.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //home page block1 -->
<!-- about page about section -->
<section class="w3l-index3" id="about">
  <div class="midd-w3 py-5">
    <div class="container py-lg-5 py-md-3">
      <div class="row">
        <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
          <h3 class="title-left mx-0">
            Our bank founded in 2015 to introduce the new level of financial
            services. We are still dedicated to the success of our clients.
          </h3>
          <p class="mt-md-4 mt-3">
            Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices
            in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet elit.
            Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum
            init dolor sit, amet elit. Dolor ipsum non velit, culpa! Vivamus a
            et ut justo, init in dolor et.
          </p>
          <a
            class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2"
            href="{% url 'about' %}"
          >
            Learn More</a
          >
        </div>
        <div class="col-lg-5">
          <div class="position-relative">
            <img
              src="{% static 'assets/images/about.jpg' %}"
              alt=""
              class="radius-image img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //about page about section -->
<!-- /mobile section --->
<section class="w3l-mobile-content-6 py-5">
  <div class="mobile-info py-lg-5 py-md-4 py-2">
    <!-- /mobile-info-->
    <div class="container">
      <h6 class="title-small text-center">Features and advantages</h6>
      <h3 class="title-big mb-5 text-center">The Best Banking Choice</h3>
      <div class="row mobile-info-inn mx-lg-0">
        <div class="col-lg-4 mobile-right text-right">
          <div class="row mobile-right-grids mb-lg-5 mb-4">
            <div class="col-10 mobile-right-info">
              <h6><a href="#url">Mobile Banking Apps</a></h6>
              <p>
                Instant access to your account on any device using our apps.
              </p>
            </div>
            <div class="col-2 mobile-right-icon">
              <div class="mobile-icon">
                <span class="fa fa-mobile"></span>
              </div>
            </div>
          </div>
          <div class="row mobile-right-grids mb-lg-5 mb-4">
            <div class="col-10 mobile-right-info">
              <h6><a href="#url">Family Programs</a></h6>
              <p>
                Our Bank has special programs with benefits for family members.
              </p>
            </div>
            <div class="col-2 mobile-right-icon">
              <div class="mobile-icon">
                <span class="fa fa-users"></span>
              </div>
            </div>
          </div>
          <div class="row mobile-right-grids">
            <div class="col-10 mobile-right-info">
              <h6><a href="#url">Various Locations </a></h6>
              <p>
                We have offices in many countries including the USA and the UK.
              </p>
            </div>
            <div class="col-2 mobile-right-icon">
              <div class="mobile-icon">
                <span class="fa fa-globe"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mobile-left px-lg-5">
          <img
            src="{% static 'assets/images/mobile.png' %}"
            class="img-fluid radius-image"
            alt=""
          />
        </div>
        <div class="col-lg-4 mobile-right">
          <div class="row mobile-right-grids mb-lg-5 mb-4">
            <div class="col-2 mobile-right-icon">
              <div class="mobile-icon">
                <span class="fa fa-user"></span>
              </div>
            </div>
            <div class="col-10 mobile-right-info">
              <h6><a href="#url">Personal Profile</a></h6>
              <p>
                Register your free personal profile online to begin using our
                services.
              </p>
            </div>
          </div>
          <div class="row mobile-right-grids mb-lg-5 mb-4">
            <div class="col-2 mobile-right-icon">
              <div class="mobile-icon">
                <span class="fa fa-cogs"></span>
              </div>
            </div>
            <div class="col-10 mobile-right-info">
              <h6><a href="#url">Easy Account Setup</a></h6>
              <p>
                Registered clients can edit the account settings in 2 clicks.
              </p>
            </div>
          </div>
          <div class="row mobile-right-grids">
            <div class="col-2 mobile-right-icon">
              <div class="mobile-icon">
                <span class="fa fa-support"></span>
              </div>
            </div>
            <div class="col-10 mobile-right-info">
              <h6><a href="#url">24/7 support</a></h6>
              <p>
                Support team is always ready to help you solve any banking
                issues
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="text-center">
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#book"> View more advanced features</a>
            </div> -->
    </div>
    <!-- //mobile-info-->
  </div>
</section>
<!-- //mobile section --->

{% endblock %}
